html {
  font-size: 62.5%;
}

/* Font */
@font-face {
  font-family: 'Inter';
  src: url(/public/css/fonts/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(/public/css/fonts/Inter/static/Inter_18pt-Bold.ttf);
}


/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter';
  font-size: 1.8rem;
}

a{ 
  text-decoration: none;
  color: #FFF;
}

body {
  width: 100vw;
  max-width: 430px;
  height: 100vh;
  background-color: #EEEADE;
}

/* Balises Typo */
h1 {
  font-family: 'Inter';
  font-weight: bold;
}

/* Span */
.bold-inter {
  font-family: 'Inter-Bold';
  font-weight: bold;
}


/* Components: Btn */
.prim-btn {
  border-radius: 8px;
  background-color: #758478;
  font-family: 'Inter-Bold';
  font-weight: bold;
  padding: 1.7em 3.5em;
  color: #FFF;
}

/* Components: Bars */

/* Components: Icons bars */
/* Components: Btn */
/* Components: Btn */
/* Components: Btn */
